{% extends 'shop/basic.html' %}
{% block title %}About Company{% endblock %}
{% load static%}
{% block body%}
<div class="container">
    <center>
        <h1>Our Vision as A E-commerce Company</h1>
    </center>
    <div class="row my-2">
        <div class="col-md-6">
            <img src="{% static '/shop/company2.jpeg' %}" width="500px" height="300px"><p> </p>
            <img src="{% static '/shop/company.jpeg' %}" width="500px" height="300px"><p> </p>
            <img src="{% static '/shop/company3.jpeg' %}" width="500px" height="300px"><p> </p>
        </div>
        <div class="col-md-6">
        <p><b>What is an ecommerce business?</b><br>
            An ecommerce business is a company that generates revenue from selling products or services online. For example, an ecommerce company might sell software, apparel, housewares, or web design services. You can run an ecommerce business from a single website or through multiple online channels like social media and email.<br>
            <br>
            <b>How does ecommerce work?</b><br>
            Ecommerce works by connecting buyers and sellers using various electronic channels. For example, you need a channel, such as a website or social media, so customers can find products and services to purchase. Then a payment processor enables the exchange of the goods or services. Once the transaction succeeds, the customer receives a confirmation email or SMS, and a printable receipt.
            If the transaction is for goods, then the seller ships the items and sends the customer a tracking number via email or SMS. If the transaction is for a service, then the service provider can reach out to schedule and complete the service.
            Steps to starting an ecommerce business
            The steps to starting an ecommerce business can vary depending on factors like what you want to sell. For example, if you're selling services, then there’s no need to manage inventory or fulfillment. However, if you want to sell products online, then inventory and fulfillment will likely play a critical part in your operations.
            Here are some steps you can follow to get started:
            Research business ideas
            Make sure there’s demand for the products you want to sell
            Determine how you'll sell and ship products to customers
            Find suppliers and manufacturers
            Choose which online channels you'll sell through (e.g., an Amazon store)
            Create a website or online storefront and upload products
            Create a plan for your fulfillment strategy
            Begin attracting customers with promotions<br>
            <br>
            <b>What are the types of ecommerce?</b><br>
            Ecommerce takes as many different forms as there are various ways to shop online channels. A few common business models that shape the world of ecommerce are:
            B2C – Businesses sell to individual consumers (end-users). The most common model with many variations.
            B2B – Businesses sell to other businesses. Often the buyer resells products to the consumer.
            C2B – Consumers sell to businesses. C2B businesses allow customers to sell to other companies.
            C2C – Consumers sell to other consumers. Businesses create online marketplaces that connect consumers.
            B2G – Businesses sell to governments or government agencies.
            C2G – Consumers sell to governments or government agencies.
            G2B – Governments or government agencies sell to businesses.
            G2C - Governments or government agencies sell to consumers.
        </p>
        </div>
    </div>
</div>
{%endblock%}